@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) { select:focus, textarea:focus, input:focus { font-size: 16px !important; } }

body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul { 
margin: 0; 
padding: 0;
font-family: '微软雅黑';
} 

a{
	text-decoration: none;
    color: #a3a3a3;
}

ul{
    list-style: none;
}

input{
display:block;
-webkit-user-modify: read-write-plaintext-only;
cursor:pointer;
-webkit-appearance:none;
border: 0;
outline: none;
}
body{
	background: #f2f2f2;
}

.fix_head{
	position: fixed;
	width: 100%;
	height: 0.9rem;
	border-bottom: 1px solid #ccc;
	background: #fafafa;
}

.fix_head .back{
	display: block;
	width: 0.65rem;
	height: 0.9rem;
	float: left;

}

.fix_head .back img{
	display: block;
	width: 0.65rem;
	height: 0.9rem; 
}

.fix_head p{
	float: left;
	margin-left: 2.12rem;
	font-size: 0.28rem;
	color: #1a1a1a;
	line-height: 0.9rem;
}

.fix_head .home{
	display: block;
	width: 0.65rem;
	height: 0.9rem;
	float: right;
}

.fix_head .home img{
	display: block;
	width: 0.65rem;
	height: 0.9rem; 
}

.sc_h{
	width: 100%;
	height: 0.9rem;
}

.lb{
	display: block;
	width: 100%;
	height: 2rem;
	margin-top: 0.1rem;
	border-bottom: 1px solid #ccc;
	background: #fafafa;
}

.lb .check{
	width: 0.7rem;
	height: 2rem;
	float: left;
}

.lb .check .xz{
	width: 0.4rem;
	height: 0.4rem;
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	display: block;
	background-image: url(../images/check.jpg);
	background-size: 0.4rem 0.4rem;
}

.lb .spt{
	display: block;
	width: 1.36rem;
	height: 1.4rem;
	float: left;
	margin-top: 0.26rem;
}

.lb .mid{
	width: 2.52rem;
	height: 1.7rem;
	float: left;
	margin-left: 0.18rem;
	margin-top: 0.16rem;
}

.lb .mid .name{
	font-size: 0.22rem;
	color: #333;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	padding-top: 0.1rem;
}

.lb .mid .color{
	font-size: 0.22rem;
	color: #8a8a8a;
	display: block;
	margin-top: 0.16rem;
}

.lb .mid .jj{
	width: 1.5rem;
	height: 0.4rem;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	margin-top: 0.1rem;
}

.lb .mid .jj .jia{
	display: block;
	font-size: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	width: 0.49rem;
	height: 0.4rem;
	float: left;
}

.lb .mid .jj .num{
	display: block;
	float: left;
	text-align: center;
	line-height: 0.4rem;
	width: 0.48rem;
	height: 0.4rem;
	font-size: 0.24rem;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}

.lb .mid .jj .jian{
	display: block;
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.4rem;
	width: 0.49rem;
	height: 0.4rem;
	float: right;
}

.lb .jgq{
	float: right;
	margin-right: 0.18rem;
	width: 1.34rem;
	height: 2rem;
	position: relative;
}

.lb .jgq .price{
	width: 100%;
	height: 0.34rem;
	font-size: 0.24rem;
	font-weight: bold;
	color: #e90327;
	display: block;
	float: right;
	margin-top: 0.26rem;
}
.lb .jgq .price p{
	float: right;
}
.lb .jgq .price_de p{
	float: right;
}
.lb .jgq .price_de{
	width: 100%;
	height: 0.24rem;
	font-size: 0.2rem;
	font-weight: bold;
	color: #999;
	display: block;
	float: right;
	margin-top: 0.1rem;
}

.lb .jgq .del{
	display: block;
	width: 0.45rem;
	height: 0.46rem;
	float: right;
	margin-bottom: 0.4rem;
	position: absolute;
	    bottom: -0.2rem;
    /* left: 0.8rem; */
    right: 0;
}

#qx{
	width: 0.4rem;
	height: 0.4rem;
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	display: block;
	background-image: url(../images/check.jpg);
	background-size: 0.4rem 0.4rem;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
		line-height: 0.8rem;
}

.bottom {
	margin-top: 0.86rem;
}

.fix_bottom{
	position: fixed;
	width: 100%;
	height: 0.8rem;
	background: #fafafa;
	bottom: 0;
	font-size: 0.24rem;
	color: #333;
}



.fix_bottom .zjq{
	float: left;
	width: 1.96rem;
	height: 0.8rem;
	margin-left: 0.7rem;
}

#zj{
	color: #e90327;
}

.fix_bottom .zjq .p1{
	font-size: 0.26rem;
	line-height: 0.8rem;
	font-weight: bold;
}

#js{
	display: block;
	width: 2.5rem;
	height:0.8rem;
	background: #e90327;
	color: #fff;
	font-size: 0.28rem;
	font-weight: bold;
	text-align: center;
	line-height: 0.8rem;
	float: right;
}

#ordered{
	display: block;
	width: 2.5rem;
	height:0.8rem;
	/*background: #e90327;*/
	/*color: #fff;*/
	font-size: 0.28rem;
	font-weight: bold;
	text-align: center;
	line-height: 0.8rem;
	float: right;
}

/* menu */
.menu{ width:100%; height:0.87rem; background:#404042; position:fixed; bottom:0; z-index:100;}
.menu li{ float:left; width:2.1rem;}
.menu li a{ display:block; width:2.1rem; height:0.87rem; padding-top:0.55rem; text-align:center; color:#acacac; font-size:0.18rem;}
.menu .menu-this{ background:#262628;}
.menu .menu-this a{ border-bottom:3px solid #e3e3e3; color:#fff;}

.menu-1{ background:url(../images/menu-1.png) center 0.1rem no-repeat; background-size:0.35rem 0.36rem;}
.menu-2{ background:url(../images/menu-2.png) center 0.1rem no-repeat; background-size:0.26rem 0.36rem;}
.menu-3{ background:url(../images/menu-3.png) center 0.15rem no-repeat; background-size:0.34rem 0.3rem;}
.menu-this .menu-1{ background-image:url(../images/menu-11.png);}
.menu-this .menu-2{ background-image:url(../images/menu-22.png);}
.menu-this .menu-3{ background-image:url(../images/menu-33.png);}