<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<meta name="format-detection" content="email=no,address=no,telephone=no">
<title>活动-定制专场</title>
<link rel="stylesheet" href="css/common.css">
<script src="js/jquery-1.12.1.min.js"></script>
<script>
$(document).ready(function(){
    var deviceWidth=$(window).outerWidth();
	if(deviceWidth>640){
    	$("html").css("font-size","100px");    	
	}else{
    	$("html").css("font-size",deviceWidth/640*100+'px');    	
	}
});
</script>
<script src="js/common.js"></script>
</head>

<body>
<!-- header start -->
<header class="top">
	<div class="con">
		<a href="" class="top-menu">菜单</a>	    	
    	<a href="" class="top-car">购物车</a>
        <h1>爱尚礼品</h1>
    </div>
</header>
<!-- header end -->

<!-- content start -->
<section class="wrap">
	<a href=""><img src="images/home-banner.jpg" class="home-banner"></a>
    <div class="search hiden">
    	<input type="text" placeholder="请输入您想要的商品" class="search-text">
        <input type="button" class="search-btn" onclick="location.href='产品-筛选.html'">
    </div>
    <div class="made-hot bf hiden">
    	<div class="fl">
        	<h2 class="made-title1">定制爆款NO.1</h2>
        	<h3 class="n c6">电小二充电宝</h3>
        	<p class="c9">与iPhone6一样轻薄</p>
        	<p class="c9">采用iPhone原厂电芯</p>
            <p class="c9">手感完美匹配iPhone6</p>
            <p class="c9">可延长iPhone6通话时间28小时，上网时间20小时</p>        	
        </div>
        <img src="images/made-img1.jpg" class="fl made-img-1">
        <div class="made-price hiden">
        	<span class="fl">
            	<em class="orange fl">43</em>
                <font class="orange">元起</font>
                <p>U盘可根据需求定制容量</p>
            </span>            
            <a href="活动详情-自定义.html" class="fl">立即定制</a>
        </div>        
        <ul>
        	<li>
            	<a href="活动详情-自定义.html">
                	<h3 class="n c6">卡片优盘4G</h3>
                    <p class="c9 s12">卡片式U盘，小巧便捷，携带方便</p>
                    <span class="orange"><font>35</font>元起</span>
                    <input type="button" value="立即定制">
                    <img src="images/made-img2.jpg" class="made-img-2">
                </a>
            </li>
           	<li>
            	<a href="活动详情-自定义.html">
                	<h3 class="n c6">卡片优盘4G</h3>
                    <p class="c9 s12">卡片式U盘，小巧便捷，携带方便</p>
                    <span class="orange"><font>35</font>元起</span>
                    <input type="button" value="立即定制">
                    <img src="images/made-img3.jpg" class="made-img-3">
                </a>
            </li>
        </ul>    	
    </div>
    <a href=""><img src="images/made-banner.jpg"></a>
 	<div class="made-hot bf hiden">
    	<div class="fl">
        	<h2 class="made-title2">定制爆款NO.2</h2>
        	<h3 class="n c6">金属移动优盘</h3>
        	<p class="c9">优盘可根据需求定制容量<br>4G 8G 16G 32G</p>
        	<p class="c9">详情可咨询在线客服人员</p>
        	<p class="orange">100起订</p>
        </div>
        <img src="images/made-img4.jpg" class="fl made-img-4">
        <div class="made-price hiden">
        	<span class="fl">
            	<em class="orange fl">43</em>
                <font class="orange">元起</font>	
                <p>U盘可根据需求定制容量</p>
            </span>            
            <a href="活动详情-自定义.html" class="fl">立即定制</a>
        </div>        
        <ul>
        	<li>
            	<a href="活动详情-自定义.html">
                	<h3 class="n c6">卡片优盘4G</h3>
                    <p class="c9 s12">卡片式U盘，小巧便捷，携带方便</p>
                    <span class="orange"><font>35</font>元起</span>
                    <input type="button" value="立即定制">
                    <img src="images/made-img5.jpg" class="made-img-5">
                </a>
            </li>
           	<li>
            	<a href="活动详情-自定义.html">
                	<h3 class="n c6">卡片优盘4G</h3>
                    <p class="c9 s12">卡片式U盘，小巧便捷，携带方便</p>
                    <span class="orange"><font>35</font>元起</span>
                    <input type="button" value="立即定制">
                    <img src="images/made-img6.jpg" class="made-img-6">
                </a>
            </li>
        </ul>    	
    </div>
    <div class="made-list">
    	<h2 class="n s24 tc">定制专场，最科技范的企业礼品！</h2>
        <ul class="hiden">
        	<li>
            	<a href="活动详情-自定义.html">
                	<img src="photos/made-img8.jpg">
                    <h3 class="s20">卡片优盘4G</h3>
                    <p class="c9 t_hide">好看的智能手环 军用传感器，30天超长续航</p>
                    <p class="font2">定制价：<font>85</font>元起</p>
                    <input type="button" value="立即定购">
                </a>
            </li>
            <li>
            	<a href="活动详情-自定义.html">
                	<img src="photos/product-img-1.jpg">
                    <h3 class="s20">卡片优盘4G</h3>
                    <p class="c9 t_hide">好看的智能手环 军用传感器，30天超长续航</p>
                    <p class="font2">定制价：<font>85</font>元起</p>
                    <input type="button" value="立即定购">
                </a>
            </li>
            <li>
            	<a href="活动详情-自定义.html">
                	<img src="photos/product-img-2.jpg">
                    <h3 class="s20">卡片优盘4G</h3>
                    <p class="c9 t_hide">好看的智能手环 军用传感器，30天超长续航</p>
                    <p class="font2">定制价：<font>85</font>元起</p>
                    <input type="button" value="立即定购">
                </a>
            </li>
            <li>
            	<a href="活动详情-自定义.html">
                	<img src="photos/made-img8.jpg">
                    <h3 class="s20">卡片优盘4G</h3>
                    <p class="c9 t_hide">好看的智能手环 军用传感器，30天超长续航</p>
                    <p class="font2">定制价：<font>85</font>元起</p>
                    <input type="button" value="立即定购">
                </a>
            </li>
        </ul>
        <div class="made-service">定制内容或其他需求请<a href="">联系客服</a></div>
    </div>      
</section>
<!-- content end -->

<!-- menu start -->
<div class="menu">
	<ul class="con hiden">
    	<li class="menu-this"><a href="index.html" class="menu-1">首页</a></li>
        <li><a href="" class="menu-2">地图导航</a></li>
        <li><a href="" class="menu-3">信息咨询</a></li>
        <li><a href="" class="menu-4">电话咨询</a></li>
        <li><a href="" class="menu-5">会员中心</a></li>
    </ul>
</div>
<!-- menu end -->
</body>
</html>